/* @import "tailwindcss"; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(23, 21, 21);
}

#Card{
    display: inline-flex;
        
}

.card{
    width: 20vw;
    height: 40vh;
    background-color: rgb(235, 239, 239);
    margin: 50px ;
    border: none;
    border-radius: 10px;
    overflow: hidden;  
}

#top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    /* background-color: aqua; */
}

#top img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
    padding: 2px;
    
}

#top button{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-around;
    padding: 5px 5px;
    border: 1px solid rgb(103, 100, 100);
    border-radius: 8px;    
    color: rgb(104, 100, 100);
    font-weight: bold;
    cursor: pointer;
}
#top button:hover{
    background-color: rgb(23, 21, 21);
    color: white;
    transition: 0.3s;
}

#middle{
    font-weight: bold;
    padding: 10px 20px;
    gap: 10px;
    /* background-color: tomato; */
    margin-bottom: 50px;
    margin-top: 10px;
}
#middle h3{
    font-size: 20px;
   
}
#middle h3 span{
    color: rgb(104, 100, 100);
    font-weight: 500;
    font-size: 10px;
    margin-bottom: 10px;
}
#middle h2{
    font-size: 20px;
   
}

.but button{
    height: 25px;
    padding: 5px ;
    background-color: rgb(216, 216, 216);
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-right: 4px;
}


#bottom{
    margin-left: 20px;
    margin-right: 20px;
    border-top: 2px solid rgb(194, 190, 190);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    /* background-color: lightgreen; */
}
#bottom .right{
    font-size: 10px;
}
#bottom .right h4{
    font-weight: 600;
    color: rgb(104, 100, 100);
}
#bottom button{
    background-color: rgb(23, 21, 21);
    color: white;
    padding: 2px 5px;
}
#bottom button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.3s;
}